/* This file is for your main application css. */
@import './alert.scss';
$bg: rgb(243, 243, 243);

body {
  background-color: $bg;
}

.navbar {
  margin-bottom: 90px;
}

.avatar {
  &-small {
    height: 28px;
    padding-right: 2px;
  }
  &-medium {
    width: 48px;
  }
  &-large {
    width: 68px;
  }
  &-full {
    width: 100%;
  }
}

.help-block {
  color: rgb(255, 109, 109);
  // adds spacing between messages if there are multiple
  padding-right: 3px;
}
