/* This file is for your main application css. */
@import './alert.scss';
@import './avatar.scss';
@import './navbar.scss';
@import './button.scss';
@import './variables.scss';
@import './user_page.scss';
@import './form.scss';
body {
  color: #565a5c;
  background-color: #f8f8f8;
}

.container {
  @media screen and (min-width: 900px) {
    width: 80%;
  }
}
.form-container {
  max-width: 500px;
}

.help-block {
  color: $primary;
  // adds spacing between messages if there are multiple
  padding-right: 3px;
}
