@import './variables.scss';

// using !important to avoid bootstrap defaults
.btn-primary.btn {
  border: 1px solid $primary;
  border-radius: 2px;
  font-weight: bold;
  background-color: $primary;
  color: #fff;
  padding: 10px 25px;
  &:hover,
  &:focus {
    border-color: $primary-alt;
    background-color: $primary-alt;
    border-bottom-color: #fa0008;
    outline: none !important;
  }
  &:active {
    border-color: #e00007 !important;
    background-color: #e00007 !important;
    outline: none !important;
  }
}

.btn-default.btn {
  width: 100%;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn-white {
  background-color: #fff;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 2px;
  &:hover {
    background: #e6e6e6;
  }
}
