@import './variables.scss';

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 3.5rem;
}

.sidebar-list {
  padding-left: 0;
  list-style: none;
}
.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a !important;
  border-bottom: 1px solid #ccc;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #cacccd;
    text-decoration: none;
  }
}
.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}

label {
  color: #565a5c;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}

input[type='checkbox'] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: center;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  @include no-appearance;

  &:checked:before {
    content: '\2713';
    position: absolute;
    font-size: 1.2em;
    top: -1px;
    vertical-align: center;
    width: 1.25em;
    color: $primary;
  }
}
